html {font-size: 62.5%;}
body {font-size: 1.6rem; /* =16px */background-color: #f9f9f9;}
.img{width: 100%;vertical-align: baseline;}
.am-container{background-color: white}
.tcp{color: #00b4ff !important;}
.tci{color: #999999}
.tcw{color: white}
.tcc{color: #787878}
.tcr{color: #ff3434}
.tch{color: #efa902}
.tcb{color: #333}
.dk{background-color: white}
.dk a{color: #333;}
header{background-color: white;}
header input{height: 40px;line-height: 40px;border:1px solid #cdcdcd;vertical-align: middle;margin-top: 11px;width: 100%;border-radius: 5px !important;}
.am-form-icon .am-form-field{padding-left: 20px !important;}
.am-container{max-width: 1200px;}
.over{overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.logo{padding: 2rem 0;height: 10rem;}
.logo img{width: 190px}
.logo .desc{background-color: #00b4ff;padding: 10px;border-radius: 20px;color: white;margin-left: 20px;}
.logo .search{right: .5em;left: inherit;color: #00b4ff;}
.logo>div:last-child{float: right !important;}
.nav{padding: 2% 0;}
.marign30{margin-top: 3rem !important;}
.marign50{margin-bottom: 5rem !important;}
.marign18{margin-bottom: 1.8rem !important;}
.marign25{margin-bottom: 2.5rem !important;}
.marign10{margin-bottom: 1rem !important;}
.c30{margin-top: 24px;padding: 3% 4%;}
.article-detail{padding: 3% 4%}
.article-detail span{color: #bbb;font-size: 12px;margin-bottom: 55px;display: block;}
.article-detail div{font-size: 14px;}
*+h1, *+h2, *+h3, *+h4, *+h5, *+h6{margin-top: 0;}
.clear{margin: 0;padding: 0;}
.hdtop{margin-bottom: 20px;border-bottom: 1px solid #e8e8e8;}
.hdinfo p{color:#aaa;font-size: 1.4rem;}
.btn-bm{border-radius: 20px;background-color: #15cb19;color: white;font-size: 1.4rem;outline: none;}
.btn-hd{border-radius: 20px;background-color: #00a2ff;color: white;font-size: 1.4rem;outline: none}
.btn-nr{border-radius: 20px;background-color: #ffa127;color: white;font-size: 1.4rem;outline: none}
.btn-hy{border-radius: 20px;background-color: #ff6f4d;color: white;font-size: 1.4rem;outline: none}
.hdinfo h4{margin-top: 1rem;  }
.am-pagination>li>a, .am-pagination>li>span{border:none;color: #bbb;}
.am-pagination>li>a:hover{background-color: #00b4ff;color: #fff;}
.am-pagination>.am-active>a{background-color:white;color: #00b4ff;}
.fwli a{color: #333;font-weight: bold;}
.fwli li:first-child{text-align: left;}
.fwli li:nth-child(2){border-left: 1px solid #bbb;border-right: 1px solid #bbb;}
.fwli li:last-child{text-align: right;}
.huiyou a{color: #333;font-weight: bold;}
.huiyou li:nth-child(2){border-left: 1px solid #bbb;}
.am-divider-default{border-top: 1px solid #f8f8f8;}
.top{background: url("../../images/top-bg.png");background-size: 100% 100px; background-repeat: no-repeat;height: 100px;}
.top .am-container{background: transparent;height: 100px;}
.zqinfo p:nth-child(2){margin: 1rem 0;}
.zc-left img{padding-right: 1rem;}
.index-title h1{margin-top: 2rem;}
.index-w{background: white;}
.index-b{background: #f7f7f7;}
.index-b2{background: #f9f9f9;}
.index2-left{overflow: hidden}
.right{float: right !important;}
.index2-right{padding: 2.2rem 0 0 0 ;}
.index2-right img{padding-right: 1.2rem;}
.index-p{background: #00b4ff;}
.index-f{background: #333;}
.index-t{font-size: 3rem;font-weight: bold;color: #5d5d5d;border-left: 6px solid #00b4ff;padding-left: 10px;}
.index-t2{font-size: 3rem;font-weight: bold;color: #5d5d5d;border-left: 6px solid #ff3434;padding-left: 10px;}
.index-t-info{margin-top: 1rem;}
.np{padding: 0;}
.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover{border: none;}
.am-nav-tabs>li>a:hover{background: transparent;border-top:none;border-left: none;border-right: none;}
.am-nav-tabs{border-bottom: 1px solid #eee;}
.am-active{color: #00b4ff}
.am-tabs-bd{border:none}
.index3img>img:last-child{padding-bottom: 0.75rem;}
.am-nav-tabs>li>a{color: #5d5d5d;}
.indexi3 .am-active>a{color: #00b4ff !important;}
.indexi3 .am-active{border-bottom: 4px solid #00b4ff;}
.am-nav-tabs>li>a:hover{border-bottom: none}
.indexi4 .am-active>a{color:#ff3434 !important;}
.indexi4 .am-active{border-bottom: 4px solid #ff3434;}
.indexi6 .am-active>a{color:#00bb7c !important;}
.indexi6 .am-active{border-bottom: 4px solid #00bb7c;}
[class*=am-u-]+[class*=am-u-]:last-child{float: left;}
.bottom{}
.bottom li{background: #f0f0f0;color: #bab8b8;font-size: 2rem;height: 8rem;line-height: 8rem;text-align: center;}
.bottom img{width: 2.5rem;margin-right: .5rem;}
.footer{background: url("../../images/footer-bg.png");background-size: 100% 100%;background-repeat: no-repeat;}
/*.footer li.am-padding-sm{border-right: 1px solid #afd3ef;height: 18rem;}*/
.footer input[type='text']{background: transparent;border:none;border-bottom: 1px solid #fff;width: 100%;height: 3rem;line-height: 3rem;outline: none;}
.footer textarea{background: transparent;border: 1px solid #fff;width: 100%;outline: none;}
.footer input[type='submit']{background: transparent;border:1px solid #fff;width: 100%;height: 3rem;line-height: 3rem;outline: none;}
.footer input[type='text']::-webkit-input-placeholder {color:#fff;}
.footer-icon span,.login-icon{background: #afd3f0;height: 3rem;width: 3rem;line-height: 3rem;border-radius: 1.5rem;}
.tishi-icon-yes{display: block;background: #00b4ff;height: 5rem;width: 5rem;font-size: 3rem;border-radius: 2.5rem;line-height: 5rem;color: #fff;margin: 0 auto;margin-bottom: 1rem;}
.tishi-icon-no{display: block;background: #ff3434;height: 5rem;width: 5rem;font-size: 3rem;border-radius: 2.5rem;line-height: 5rem;color: #fff;margin: 0 auto;margin-bottom: 1rem;}
.register{background: url("../../images/register.png");background-repeat: no-repeat;background-position: bottom;background-size: 110% ;}
.reg-title{background: #ebeced;color: black;text-align: center;padding: .8rem 0;}
.register select,.register input[type='text']{height: 3rem;line-height: 3rem;border:1px solid #e5e5e5;width: 100%;outline: none;padding-left: .4rem;}
.register input[type='number']{height: 2.8rem;line-height: 2.8rem;outline: none;padding-left: .4rem;border:none;padding-top: .3rem;}
.input-code{height: 3rem;line-height: 3rem;outline: none;padding-left: .4rem;border:none;padding-top: .3rem;}
.register input[type='submit']{background: #00b4ff;padding: 1rem 0;}
.register input[type='submit']:hover{color: white;}
.reg-phone{display: block;border:1px solid #e5e5e5;height: 3rem;line-height: 2.8rem;margin-bottom: 1.6rem;}
.reg-code{display: block;border:1px solid #e5e5e5;height: 3rem;line-height: 3rem;margin-bottom: 1.6rem;}
.reg-code button{height: 2.8rem;}
.jiameng2{width: 30rem;margin: 0 auto;}
.jm-title{border-left: 4px solid #00b4ff;}
.am-btn-primary{background: #00b4ff;border:none;}
.am-btn-primary:hover{background: #00b4ff;border:none;}
.login-div{width: 32%;max-width: 440px;}
.fuwu-btn{border: 1px solid #00b4ff;padding: 6px 15px;background-size: 20px;position: relative !important;}
.fuwu-btn img{position: absolute;right:0px;bottom: 0px;}
.fuwu-num{display: inline-block;position: relative;}
.fuwu-num .icons{position: absolute;left: 60px;top:-10px;}
.fuwu-num .icon{border:1px solid #999;height: 20px;width: 30px;text-align: center;line-height: 18px;}
.fuwu-num input{width: 50px;height: 30px;border: 1px solid #999;text-align: center;}
.fuwu-btns button{width: 150px;}
.fuwu-btns button:first-child{background: #fff;border:1px solid #00b4ff;color: #00b4ff;}
.index-fuwua div:first-child:hover{color: #00b4ff;}
.index-fuwua a:hover{color: #00b4ff !important;}
.index-btm{width: 80px;display: inline-block;text-align: center;padding: 1px 0;border-radius: 4px;}
.cart-list{background: #eeeeee;overflow: hidden;border-bottom: 1px solid #d2d2d2;}
.cart-list:last-child{background: #eeeeee;overflow: hidden;border-bottom: none;}
.cart-list-div{height: 70px;line-height: 70px;}
.cart-num{width: 50px;border:none;display: inline-block;height: 30px;line-height: 20px;margin-bottom: 6px;padding-left:8px;background: transparent;}
.cart-title h2{border-left: 2px solid #00b4ff;}
.cart-bottom{height: 60px; line-height: 60px;background: #eee;}
.cart-bottom-text{position: relative;text-align: right;line-height: 30px;}
.sideMenu{}
.sideMenu{padding: 0px;margin: 0px}
.sideMenu h3{height: 60px;line-height: 50px;color: #fff;cursor: pointer;
    padding:5px 30px;margin:0;font-weight: 400;width: 100%;background: #0275cf;border-bottom: 1px solid #ccc;}
.sideMenu h3:first-child{border-top-left-radius: 8px;border-top-right-radius: 8px;}
.am-icon-edit{border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
.am-icon-edit:hover{border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;}
.sideMenu h3.on em{background-position: 16px -57px;}
.sideMenu h3.on{color: #fff;background: #0275cf}
.sideMenu h3.on a{color: #fff;}
.sideMenu h3 a{color: #fff;margin-left: 10px;}
.sideMenu ul{line-height: 24px;color: #fff;display: none;/* 默认都隐藏 */ ;background: #026abb;padding: 0px 0 10px 0;margin: 0px }
.sideMenu li{text-indent: 25px;width: 100%;line-height: 50px;height: 50px;list-style: none}
.sideMenu li:hover{background: #026abb;}
.sideMenu li a{color: #fff}
.user{background: url("../../images/user-bg.png");background-size: 100% 100%;height: 200px;padding: 40px;background-position: center;border-radius: 8px;}
.user img{width: 80px;height: 80px;border-radius: 0px;margin: 0 auto;display: block;border-radius: 40px;}
.user p{color: white;text-align: center;}
.user-form{color: #666666;text-align: justify;width: 414px;height: 46px;line-height: 46px;margin-bottom: 10px;margin-left: 80px;}
.user-form span{width: 114px;display: inline-block;text-align: justify;}
.user-form span::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.user-form input[type='text']{height: 46px;width: 300px;border: 1px solid #dcdcdc;border-radius: 4px;padding-left: 10px;float: right}
.sex{float: right;padding-right: 210px;}
.user-btn{width: 200px;display: inherit;margin: 0 auto;margin-left: 160px;margin-top: 20px; margin-left: 230px;}
.user-img{ width: 100px;margin-left: 157px;border-radius: 80px;margin-left: 360px;}
.user-img img{width: 100px;height: 100px;border-radius: 50px;margin-bottom: 20px;}

.register2{}
.reg-title2{background: #00b4ff;color: white;text-align: center;padding: .8rem 0;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.register2 select,.register input[type='text']{height: 3rem;line-height: 3rem;border:1px solid #e5e5e5;width: 100%;outline: none;padding-left: .4rem;}
.register2 input[type='text']{height: 2.8rem;line-height: 2.8rem;outline: none;padding-left: .4rem;border:1px solid #e5e5e5;padding-top: .3rem;width: 100%;}
.input-code{height: 3rem;line-height: 3rem;outline: none;padding-left: .4rem;border:none;padding-top: .3rem;}
.register2 input[type='submit']{background: #00b4ff;padding: 1rem 0;}
.register2 input[type='submit']:hover{color: white;}
.index-nav{position: relative;}
.index-nav{position: absolute;left: 10px;z-index: 999;}
