
<!--<app-server></app-server>-->
<div class="app-server"></div>
<div servers>2468</div>

<div class="container mt-3" >
  <h3 >复选框与单选框</h3>
  <p>文本信息可以使用复选框与单选框替代：</p>
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox"  [checked]="false">
        </div>
      </div>
      <input type="text" class="form-control" placeholder="RUNOOB" >

    </div>
  </form>

  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio">
        </div>
      </div>
      <input type="text" class="form-control" placeholder="GOOGLE">
    </div>
  </form>
</div>
